<launch>
    <rosparam file="$(find dvrk_connector)/config/params.yaml" command="load"/>
    <node name="server_endpoint" pkg="dvrk_connector" type="server_endpoint.py" args="--wait" output="screen" respawn="true" />
    
    <node name="arm_base_broadcaster1" pkg="dvrk_connector" type="Base_subscriber.py" respawn="true" output="screen" >
      <param name="arm" type="string" value="ECM" />
    </node>
    <node name="arm_base_broadcaster2" pkg="dvrk_connector" type="Base_subscriber.py" respawn="true" output="screen" >
      <param name="arm" type="string" value="PSM1" />
    </node>
    <node name="arm_base_broadcaster3" pkg="dvrk_connector" type="Base_subscriber.py" respawn="true" output="screen" >
      <param name="arm" type="string" value="PSM2" />
    </node>

    <node name="camera_controller" pkg="dvrk_connector" type="Camera_control.py" respawn="true" output="screen" />

</launch>