<launch>
    <rosparam file="$(find ROS-dvrk-VR)/config/params.yaml" command="load"/>
    <node name="server_endpoint" pkg="ROS-dvrk-VR" type="server_endpoint.py" args="--wait" output="screen" respawn="true" />
    
    <node name="arm_base_broadcaster1" pkg="ROS-dvrk-VR" type="Base_subscriber.py" respawn="true" output="screen" >
      <param name="arm" type="string" value="ECM" />
    </node>
    <node name="arm_base_broadcaster2" pkg="ROS-dvrk-VR" type="Base_subscriber.py" respawn="true" output="screen" >
      <param name="arm" type="string" value="PSM1" />
    </node>
    <node name="arm_base_broadcaster3" pkg="ROS-dvrk-VR" type="Base_subscriber.py" respawn="true" output="screen" >
      <param name="arm" type="string" value="PSM2" />
    </node>

</launch>
